.principal{
    width: 100%;
    height: 60px;
}
.Content_right{
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 90%;
    margin: 10px 15px 15px 15px;
    background-color: rgb(255, 255, 255);    
}
#input_search{
    padding: 10px;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 3%;
    border-style: solid;
    border-width:  1px;
}
.table{
      height: 300px;
      width: 300px; 
      font-size: 1.2rem;
      margin: 10px;
}

.table .tr_head{
    background-color: rgba(219, 117, 33, 0.534);
    border-style: solid;
}

.table tr th {
    border-collapse: collapse;
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    border-bottom-color: rgba(219, 117, 33, 0.534); 
}

 
 

 