.Menu{
    display: flex;
    width: 170px;
    height: 95%;
    margin: 10px 10px 0 10px;
    background-color: #F1C40F;
    margin: 1;
    border-radius: 10px ;
    border-color: black;
    box-shadow: 0px 0px 20px 1px rgb(179, 207, 212);
     
 
}

.Menu nav{
  flex: 1;
  max-height: 70%;
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
 }

.Menu ul{
 list-style: none;
 padding: 0
}

.Menu li{
display: flex;
align-items: center;
border-style: solid;
border-radius: 10px;
margin-bottom: 5px;
border-color: black;
height: 100%;
width: 100%;

 
}

.Menu li a {
    margin-left: 10px;
    flex: 1;
    margin-left: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 1.9rem;
    padding: 7px;
    width: 100%;
}

.Menu li a:hover{
    background-color: #00000030;

 
}