.Menu{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 150px;
    margin-left: 10px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgba(219, 117, 33, 0.534);
    background-color: rgb(241, 131, 41);
    box-shadow: 1px 4px 5px 0px  rgba(151, 81, 23, 0.377);
 }

.Menu nav{
   flex: 1;
}

.Menu ul{
     list-style: none;
     padding: 0
}

.Menu li{
    display: flex;
    align-items: center;
    border-color: black;
}

.Menu li a {
    flex: 1;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.9rem;
    padding: 8px;
    width: 100%;
}

.Menu li a:hover{
    background-color: #00000030;

 
}